.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-list li {
  padding: 10px;
  margin-bottom: 6px;
  background: #f1f5f9;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.user-list li:hover {
  background: #e2e8f0;
  transform: translateX(4px);
}

.user-list li.weak {
  color: #d00000;
  font-weight: bold;
}
